{
    "presets": [
        "env",
        "stage-2"
    ],
    "plugins": [
        "transform-vue-jsx",
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": false
            }
        ]
    ],
    "comments": false
}